<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>L²NT Chat</title>
</head>
<body>
    <header>
        <h1>L²NT - CHAT</h1>
    </header>
    <main>
        <div id="chat_container">
            <div id="caixa_chat">
                <div class="mensagem mensagem_bot">
                    Olá! Como posso te ajudar hoje?
                </div>
            </div>
            <form id="formulario_mensagem">
                <div id="preview_anexo" class="hidden">
                    <img id="preview_imagem" src="#" alt="Preview da Imagem"/>
                    <span id="preview_pdf_nome"></span>
                    <button type="button" id="remover_anexo_btn">&times;</button>
                </div>

                <div id="area_input">
                    <button type="button" id="botao_abrir_menu" class="botao_icone" title="Anexar arquivo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-2.8-2.8A5.92 5.92 0 0 0 12 6c-3.31 0-6 2.69-6 6s2.69 6 6 6c1.3 0 2.51-.41 3.49-1.08l2.8 2.8V19h2v-3.29l-2.8-2.8A5.92 5.92 0 0 0 12 18c-2.21 0-4-1.79-4-4s1.79-4 4-4c1.05 0 2.05.34 2.8.9l2.8 2.8H15.5zM12 16c-1.11 0-2-.89-2-2s.89-2 2-2 2 .89 2 2-.89 2-2 2z"/></svg>
                    </button>

                    <div id="menu_anexo" class="hidden">
                        <button type="button" id="anexar_imagem_btn">Imagem</button>
                        <button type="button" id="anexar_pdf_btn">PDF</button>
                    </div>

                    <input type="text" id="input_mensagem" placeholder="Digite sua mensagem ou descreva o anexo..." autocomplete="off">
        
                    <input type="file" id="input_arquivo" class="hidden">

                    <button type="submit" class="botao_icone" title="Enviar mensagem">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
           <p>
            Desenvolvido por <strong>Lincoln Matheus</strong>
            <br>
            2025. Todos os direitos reservados
            </p> 
        </div>
        <br>
        <div class="div-footer">
            <figure>
                <a href="https://github.com/LincolnMatheus97/api_gemini.git" target="_blank" >
                <img src="{{ url_for('static', filename='images/repositorio.png')}}" alt="gitHubProjeto" id="imagem-git">
                </a>
                <figcaption>Repositório Git do <em>Projeto</em>!</figcaption>
            </figure>
            <figure>
                <a href="https://github.com/LincolnMatheus97" target="_blank" >
                <img src="{{ url_for('static', filename='images/git.png')}}" alt="meuGit" id="imagem-git">
                </a>
                <figcaption>Meu Perfil no<em> GitHub</em>!</figcaption>
            </figure>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>