<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" defer></script>
    <script src="{{ url_for('static', filename='script/script.js') }}" defer></script>
    <title>DominiChat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="imagem/png">
</head>
<body>
    <div id="notificacao_customizada">
        <p id="notificacao_mensagem"></p>
    </div>
    <header>
        <a href="https://atv-api-gemini.up.railway.app" class="logo-link">
            <h1>DominiChat</h1>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo DominiChat" class="logo-header">
        </a>
        <button type="button" id="botao_tema" class="botao_icone" title="Alterar tema">
            <svg id="icone_sol" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zM2 13h2c.55 0 1-.45 1-1s-.45-1-1-1H2c-.55 0-1 .45-1 1s.45 1 1 1zm18 0h2c.55 0 1-.45 1-1s-.45-1-1-1h-2c-.55 0-1 .45-1 1s.45 1 1 1zM11 2v2c0 .55.45 1 1 1s1-.45 1-1V2c0-.55-.45-1-1-1s-1 .45-1 1zm0 18v2c0 .55.45 1 1 1s1-.45 1-1v-2c0-.55-.45-1-1-1s-1 .45-1 1zM5.64 5.64c-.39-.39-1.02-.39-1.41 0s-.39 1.02 0 1.41l1.41 1.41c.39.39 1.02.39 1.41 0s.39-1.02 0-1.41L5.64 5.64zm12.73 12.73c-.39-.39-1.02-.39-1.41 0s-.39 1.02 0 1.41l1.41 1.41c.39.39 1.02.39 1.41 0s.39-1.02 0-1.41l-1.41-1.41zM5.64 18.36l1.41-1.41c.39-.39.39-1.02 0-1.41s-1.02-.39-1.41 0l-1.41 1.41c-.39.39-.39 1.02 0 1.41s1.02.39 1.41 0zM18.36 5.64l1.41 1.41c.39.39.39-1.02 0 1.41s-1.02-.39-1.41 0l-1.41-1.41c-.39-.39-.39-1.02 0-1.41s1.02-.39 1.41 0z"/>
            </svg>
            <svg id="icone_lua" class="hidden" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.37 5.51C9.19 6.15 9.1 6.82 9.1 7.5c0 4.08 3.32 7.4 7.4 7.4.68 0 1.35-.09 1.99-.27C17.45 17.19 14.93 19 12 19c-3.86 0-7-3.14-7-7 0-2.93 1.81-5.45 4.37-6.49z"/>
            </svg>
        </button>
    </header>
    <main>
        <div id="chat_container">
            <div id="caixa_chat">
            </div>
            <form id="formulario_mensagem">
                <div id="preview_anexo" class="hidden">
                    <img id="preview_imagem" src="#" alt="Preview da Imagem"/>
                    <span id="preview_pdf_nome"></span>
                    <button type="button" id="remover_anexo_btn">&times;</button>
                </div>

                <div id="area_input">
                    <button type="button" id="botao_abrir_menu" class="botao_icone" title="Anexar arquivo">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
                    <path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/>
                    </svg>
                    </button>

                    <div id="menu_anexo" class="hidden">
                        <button type="button" id="anexar_imagem_btn">Imagem</button>
                        <button type="button" id="anexar_pdf_btn">PDF</button>
                    </div>

                    <input type="text" id="input_mensagem" placeholder="Digite sua mensagem ou descreva o anexo..." autocomplete="off">
        
                    <input type="file" id="input_arquivo" class="hidden">

                    <button type="submit" class="botao_icone" title="Enviar mensagem">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
           <p>
            Desenvolvido por <strong>Lincoln Matheus</strong>
            <br>
            2025. Todos os direitos reservados
            </p> 
        </div>
        <br>
        <div class="div-footer">
            <figure>
                <a href="https://github.com/LincolnMatheus97/api_gemini.git" target="_blank" title="Link do Repositório">
                <img src="{{ url_for('static', filename='images/repositorio.png')}}" alt="gitHubProjeto" id="imagem-git">
                </a>
                <figcaption>Repositório Git do <em>Projeto</em>!</figcaption>
            </figure>
            <figure>
                <a href="https://github.com/LincolnMatheus97" target="_blank" title="Link do Perfil">
                <img src="{{ url_for('static', filename='images/git.png')}}" alt="meuGit" id="imagem-git">
                </a>
                <figcaption>Meu Perfil no<em> GitHub</em>!</figcaption>
            </figure>
        </div>
    </footer>
</body>
</html>