<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>L²NT Chat</title>
</head>
<body>
    <header>
        <a href="https://atv-api-gemini.up.railway.app"><h1>L²NT - CHAT</h1></a>
    </header>
    <main>
        <div id="chat_container">
            <div id="caixa_chat">
            </div>
            <form id="formulario_mensagem">
                <div id="preview_anexo" class="hidden">
                    <img id="preview_imagem" src="#" alt="Preview da Imagem"/>
                    <span id="preview_pdf_nome"></span>
                    <button type="button" id="remover_anexo_btn">&times;</button>
                </div>

                <div id="area_input">
                    <button type="button" id="botao_abrir_menu" class="botao_icone" title="Anexar arquivo">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
                    <path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/>
                    </svg>
                    </button>

                    <div id="menu_anexo" class="hidden">
                        <button type="button" id="anexar_imagem_btn">Imagem</button>
                        <button type="button" id="anexar_pdf_btn">PDF</button>
                    </div>

                    <input type="text" id="input_mensagem" placeholder="Digite sua mensagem ou descreva o anexo..." autocomplete="off">
        
                    <input type="file" id="input_arquivo" class="hidden">

                    <button type="submit" class="botao_icone" title="Enviar mensagem">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
           <p>
            Desenvolvido por <strong>Lincoln Matheus</strong>
            <br>
            2025. Todos os direitos reservados
            </p> 
        </div>
        <br>
        <div class="div-footer">
            <figure>
                <a href="https://github.com/LincolnMatheus97/api_gemini.git" target="_blank" >
                <img src="{{ url_for('static', filename='images/repositorio.png')}}" alt="gitHubProjeto" id="imagem-git">
                </a>
                <figcaption>Repositório Git do <em>Projeto</em>!</figcaption>
            </figure>
            <figure>
                <a href="https://github.com/LincolnMatheus97" target="_blank" >
                <img src="{{ url_for('static', filename='images/git.png')}}" alt="meuGit" id="imagem-git">
                </a>
                <figcaption>Meu Perfil no<em> GitHub</em>!</figcaption>
            </figure>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>